fastapi[standard]
python-dotenv
httpx
sqlalchemy

# NLP y Machine Learning
spacy
scikit-learn
pandas
numpy

# Notebooks
jupyter
matplotlib
seaborn

# Interpretabilidad y Reportes
lime
python-docx

# Gemini API (opcional)
google-generativeai

# Testing
pytest
pytest-cov